* {
    background-color: black;
    color: white;
}

header h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../images/pattern.jpeg");
}

section h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}